* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;

  background: transparent;

  font-family: inherit;

  text-decoration: none;
}

ol,
ul,
li {
  list-style: none;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button,
input,
textarea,
select {
  appearance: none !important;
  -webkit-appearance: none !important;
  border-radius: 0;
}

.landingPage {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: url(landing/picLanding.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.landingMiddleSection {
  text-align: center;
  color: white;
}

.navBar {
  position: fixed;
  z-index: 99;
  width: 100%;
  background-color: #333;
  overflow: hidden;
  cursor: pointer;
}

.navLogo {
  float: left;
  padding: 5px;
}

.navTile {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navTile:hover {
  background-color: #ddd;
  color: black;
}

.navTile.active {
  background-color: #04aa6d;
  color: white;
}

.btnDiv {
  position: absolute;
  bottom: 0;
  width: 100%;

  background-color: #333;
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn {
  display: block;
  position: relative;
  padding: 17px 50px;
  margin: 0 auto;
  overflow: hidden;

  outline: none;
  background-color: #222;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
}
@media screen and (max-width: 320px) {
  .btn {
    padding: 17px 20px;
    font-size: 15px;
  }
}

.btn span {
  position: relative;
  z-index: 1;
}

.btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: #78c7d2;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.intro {
  width: 100vw;
  height: 100vh;
}

.bookingForm {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #bada55;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.bookingForm input {
  margin-bottom: 20px;
}

.menuSection {
  width: 100vw;

  padding: 0 20px;
}

.pizzaBox {
  float: left;
  padding: 20px 20px;
  margin: 5px;
  width: 49%;

  border: 4px solid black;
}

@media screen and (max-width: 1040px) {
  .pizzaBox {
    width: 70%;
    padding: 20px 0;
  }

  .pizzaList {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menuSection {
    width: 100%;
    padding: 0;
  }
}

.pizzaBox img {
  width: 100%;
}
