* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;

  background: transparent;

  font-family: inherit;

  text-decoration: none;
}

ol,
ul,
li {
  list-style: none;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button,
input,
textarea,
select {
  appearance: none !important;
  -webkit-appearance: none !important;
  border-radius: 0;
}

.landingPage {
  height: 100vh;
  width: 100vw;
  background: url(landing/picLanding.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.landingMiddleSection {
  width: 100vw;

  text-align: center;
  color: white;
}

.navBar {
  width: 100vw;
  background-color: #333;
  overflow: hidden;
}

.navLogo {
  float: left;
  padding: 5px;
}

.navTile {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navTile:hover {
  background-color: #ddd;
  color: black;
}

.navTile.active {
  background-color: #04aa6d;
  color: white;
}

.btnDiv {
  position: absolute;
  bottom: 0;
  width: 100vw;

  background-color: #333;
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn {
  display: block;
  position: relative;
  padding: 17px 50px;
  margin: 0 auto;
  overflow: hidden;

  outline: none;
  background-color: #222;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
}

.btn span {
  position: relative;
  z-index: 1;
}

.btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: #78c7d2;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.intro {
  width: 100vw;
  height: 100vh;
}
